<form th:action="${userDto.id == null ? '/admin/users/new' : '/admin/users/edit/' + userDto.id}"
      th:object="${userDto}" method="post">

    <div class="mb-3">
        <label>Họ tên</label>
        <input type="text" th:field="*{fullName}" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" th:field="*{email}" class="form-control" th:readonly="${userDto.id != null}">
        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <button type="submit" class="btn btn-success">Xác nhận</button>
    <a th:href="@{/admin/users}" class="btn btn-secondary">Hủy</a>
</form>