USE [master]
GO
/****** Object:  Database [HSF_Project]    Script Date: 3/10/2026 12:23:04 PM ******/
CREATE DATABASE [HSF_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HSF_Project', FILENAME = N'E:\SQL Server E 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\HSF_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HSF_Project_log', FILENAME = N'E:\SQL Server E 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\HSF_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HSF_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HSF_Project]
GO
/****** Object:  Table [dbo].[category]    Script Date: 3/10/2026 12:23:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[description] [text] NULL,
	[name] [varchar](100) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chapter]    Script Date: 3/10/2026 12:23:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapter](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[description] [text] NULL,
	[order_index] [bigint] NULL,
	[title] [varchar](255) NOT NULL,
	[course_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 3/10/2026 12:23:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[description] [text] NULL,
	[duration] [int] NULL,
	[is_featured] [bit] NULL,
	[level] [varchar](255) NULL,
	[listed_price] [numeric](10, 2) NULL,
	[sale_price] [numeric](10, 2) NULL,
	[status] [varchar](255) NOT NULL,
	[thumbnail] [varchar](500) NULL,
	[title] [varchar](255) NOT NULL,
	[category_id] [bigint] NULL,
	[instructor_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lesson]    Script Date: 3/10/2026 12:23:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lesson](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[content] [text] NULL,
	[duration] [int] NULL,
	[order_index] [int] NULL,
	[status] [bit] NULL,
	[title] [varchar](255) NOT NULL,
	[type] [varchar](255) NULL,
	[chapter_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/10/2026 12:23:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[address] [varchar](255) NULL,
	[avatar] [varchar](500) NULL,
	[email] [varchar](150) NOT NULL,
	[full_name] [varchar](100) NULL,
	[otp] [varchar](255) NULL,
	[otp_expiry] [datetime2](7) NULL,
	[password] [varchar](255) NOT NULL,
	[phone_number] [varchar](255) NULL,
	[role] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [created_at], [updated_at], [description], [name], [status]) VALUES (1, CAST(N'2026-03-10T12:19:03.9766667' AS DateTime2), CAST(N'2026-03-10T12:19:03.9766667' AS DateTime2), N'Courses related to Java programming', N'Java', 1)
INSERT [dbo].[category] ([id], [created_at], [updated_at], [description], [name], [status]) VALUES (2, CAST(N'2026-03-10T12:19:03.9766667' AS DateTime2), CAST(N'2026-03-10T12:19:03.9766667' AS DateTime2), N'Frontend web development courses', N'Web Development', 1)
INSERT [dbo].[category] ([id], [created_at], [updated_at], [description], [name], [status]) VALUES (3, CAST(N'2026-03-10T12:19:03.9766667' AS DateTime2), CAST(N'2026-03-10T12:19:03.9766667' AS DateTime2), N'Database design and SQL learning', N'Database', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[course] ON 

INSERT [dbo].[course] ([id], [created_at], [updated_at], [description], [duration], [is_featured], [level], [listed_price], [sale_price], [status], [thumbnail], [title], [category_id], [instructor_id]) VALUES (3, CAST(N'2026-03-10T12:19:18.2433333' AS DateTime2), CAST(N'2026-03-10T12:19:18.2433333' AS DateTime2), N'Learn basic Java programming from scratch.', 20, 1, N'BEGINNER', CAST(120.00 AS Numeric(10, 2)), CAST(90.00 AS Numeric(10, 2)), N'PUBLISHED', N'java_course.jpg', N'Java Programming Fundamentals', 1, 3)
INSERT [dbo].[course] ([id], [created_at], [updated_at], [description], [duration], [is_featured], [level], [listed_price], [sale_price], [status], [thumbnail], [title], [category_id], [instructor_id]) VALUES (4, CAST(N'2026-03-10T12:19:18.2433333' AS DateTime2), CAST(N'2026-03-10T12:19:18.2433333' AS DateTime2), N'Complete guide to Spring Boot framework.', 30, 1, N'INTERMEDIATE', CAST(150.00 AS Numeric(10, 2)), CAST(110.00 AS Numeric(10, 2)), N'PUBLISHED', N'springboot.jpg', N'Spring Boot Development', 1, 4)
INSERT [dbo].[course] ([id], [created_at], [updated_at], [description], [duration], [is_featured], [level], [listed_price], [sale_price], [status], [thumbnail], [title], [category_id], [instructor_id]) VALUES (5, CAST(N'2026-03-10T12:19:18.2433333' AS DateTime2), CAST(N'2026-03-10T12:19:18.2433333' AS DateTime2), N'Master HTML, CSS, and JavaScript.', 25, 0, N'BEGINNER', CAST(100.00 AS Numeric(10, 2)), CAST(80.00 AS Numeric(10, 2)), N'PUBLISHED', N'webdev.jpg', N'Web Development for Beginners', 2, 5)
SET IDENTITY_INSERT [dbo].[course] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [created_at], [updated_at], [address], [avatar], [email], [full_name], [otp], [otp_expiry], [password], [phone_number], [role], [status]) VALUES (3, CAST(N'2026-03-10T12:16:39.0133333' AS DateTime2), CAST(N'2026-03-10T12:16:39.0133333' AS DateTime2), N'123 Nguyen Trai, HCMC', N'avatar1.jpg', N'john.doe@gmail.com', N'John Doe', NULL, NULL, N'123456', N'0901234567', N'ADMIN', N'ACTIVE')
INSERT [dbo].[users] ([id], [created_at], [updated_at], [address], [avatar], [email], [full_name], [otp], [otp_expiry], [password], [phone_number], [role], [status]) VALUES (4, CAST(N'2026-03-10T12:16:39.0133333' AS DateTime2), CAST(N'2026-03-10T12:16:39.0133333' AS DateTime2), N'45 Le Loi, HCMC', N'avatar2.jpg', N'anna.smith@gmail.com', N'Anna Smith', NULL, NULL, N'123456', N'0912345678', N'ADMIN', N'ACTIVE')
INSERT [dbo].[users] ([id], [created_at], [updated_at], [address], [avatar], [email], [full_name], [otp], [otp_expiry], [password], [phone_number], [role], [status]) VALUES (5, CAST(N'2026-03-10T12:16:39.0133333' AS DateTime2), CAST(N'2026-03-10T12:16:39.0133333' AS DateTime2), N'12 Tran Hung Dao, HCMC', N'avatar3.jpg', N'mike.lee@gmail.com', N'Mike Lee', NULL, NULL, N'123456', N'0923456789', N'ADMIN', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 3/10/2026 12:23:04 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chapter]  WITH CHECK ADD  CONSTRAINT [FKhhaina8rg7bpmg1qesiluu8vu] FOREIGN KEY([course_id])
REFERENCES [dbo].[course] ([id])
GO
ALTER TABLE [dbo].[chapter] CHECK CONSTRAINT [FKhhaina8rg7bpmg1qesiluu8vu]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD  CONSTRAINT [FK649nhrgf5mod1gvtnvonccapi] FOREIGN KEY([instructor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[course] CHECK CONSTRAINT [FK649nhrgf5mod1gvtnvonccapi]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD  CONSTRAINT [FKkyes7515s3ypoovxrput029bh] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[course] CHECK CONSTRAINT [FKkyes7515s3ypoovxrput029bh]
GO
ALTER TABLE [dbo].[lesson]  WITH CHECK ADD  CONSTRAINT [FKyd2sg2b1awfx3br81o66mrwl] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[chapter] ([id])
GO
ALTER TABLE [dbo].[lesson] CHECK CONSTRAINT [FKyd2sg2b1awfx3br81o66mrwl]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD CHECK  (([level]='ADVANCED' OR [level]='INTERMEDIATE' OR [level]='BEGINNER'))
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD CHECK  (([status]='UNPUBLISHED' OR [status]='PUBLISHED'))
GO
ALTER TABLE [dbo].[lesson]  WITH CHECK ADD CHECK  (([type]='TEXT' OR [type]='PDF' OR [type]='VIDEO'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='MEMBER' OR [role]='MARKETING' OR [role]='MANAGER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='SUSPENDED' OR [status]='PENDING' OR [status]='ACTIVE'))
GO
USE [master]
GO
