server:
  port: 8080

spring:

    datasource:
      url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres}
      username: ${SPRING_DATASOURCE_USERNAME:postgres.anizzqfagauccrkbcssy}
      password: ${SPRING_DATASOURCE_PASSWORD:!Ducanh123456@}
      driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect

    thymeleaf:
      cache: false

sepay:
  secret-key: A3W1SRGIUTZCVLIYEEH1B76YRQ5QLKVUHOSSCBLFM4KGKN04P9QYVINAFZIXJODC

